h1 {
    color: white;
}

/* *{
    border: solid;
}  */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
body{
    background-color: aqua;
}
h1{
    margin: 50px;
    /* padding-left: 50px; */
    background-color: coral;
    transform: skewX(20deg);
}
a:link{
    color: crimson;
    
}
a:visited{
    color: rgb(12, 139, 0);
    
}
a:hover{
    opacity: 0.5;
}
a{
    margin: 20px;
}
p{
    padding: 30px;
}